* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 50px 100px;
  margin-inline: minmax(10px, 20vw);
}
.logo {
  height: 45px;
  width: 150px;
  margin-right: 50px;
  margin-left: 10px;
}

ul {
  display: flex;
  list-style-type: none;
}
ul li {
  display: grid;
  place-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #070f18;
  margin-right: 52px;
}
.selected {
  font-weight: 600;
}
.sign-in {
  background: #f5f6fb;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 50px;
  padding: 12px;
  min-width: 150px;
  cursor: pointer;
}
.intro {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 70px;
  margin-inline: 120px 120px;
}
.text {
  padding: 20px;
  margin-right: 20px;
  display: grid;
  place-items: center;
}
.text > * {
  margin-bottom: 20px;
}
.text h1 {
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 83px;
  letter-spacing: 0em;
}
.text p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  color: #575455;
  padding-bottom: 30px;
}
.get-started {
  margin-top: 30px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  background-color: #1f7cff;
  padding: 20px 50px;
  color: white;
  border-radius: 50px;
}
.poster-girl-img {
  position: relative;
  margin-left: 50px;
  padding-left: 50px;
}

.left {
  position: absolute;
  top: 135px;
  right: 450px;
}
.right {
  position: absolute;
  top: 55px;
  right: -60px;
}
.brands {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-inline: 160px;
  margin-bottom: 130px;
}
.brands h3 {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #070f18;
  display: grid;
  place-items: center;
  margin-bottom: 10px;
}

.brands div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.brands img {
  height: 30px;
  margin: 20px;
  margin-left: 50px;
}
.points {
}
.hero h6 {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #f75c4e;
  margin-bottom: 6px;
}
.hero h2 {
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;
}
.hero p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #575455;
  margin-bottom: 70px;
}
.sub-hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 92px 60px;
  margin-inline: 50px;
  margin-bottom: 130px;
}
.sub-hero span {
  display: grid;
  grid-template-areas: "img h4" "img p";
  gap: 12px 24px;
}
.sub-hero img {
  height: 60px;
  width: 60px;
  grid-area: img;
}
.sub-hero h4 {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #070f18;
  grid-area: h4;
}
.sub-hero p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #575455;
  grid-area: p;
}
.end {
  display: flex;
  margin: 180px 125px;
  justify-content: space-around;
}
.end > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-left: 30px;
}
.end img {
  width: 450px;
  margin-left: 10px;
}
.end div h5 {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #f75c4e;
  margin-bottom: 6px;
}
.end div h2 {
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}
.end div p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #575455;
  margin-bottom: 30px;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#submit {
  padding: 0;
  width: 180px;
  bottom: 0;
  right: 0px;
  padding-inline: 20px;
  height: 48px;
  display: grid;
  place-items: center;
  text-align: center;
}
input {
  height: 48px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 12px 24px;
  border-radius: 50px;
  border: none;
  color: #575455;
  background-color: #f5f6fb;
  width: 375px;
}

@media (max-width: 834px) {
  * {
    margin-inline: 10px;
  }
  .poster-girl-img {
    display: none;
  }

  nav {
    display: none;
  }
  .intro {
    text-align: center;
    margin-inline: 10px;
  }
  .text {
    width: 75%;
  }
  .text h1 {
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: center;
  }
  .text p,
  .text h1 {
    text-align: center;
  }
  .brands {
    flex-direction: column;
    margin-inline: 10px;
    margin-bottom: 50px;
  }

  .brands h3 {
    text-align: center;
    margin-top: 50px;
  }
  .brands div {
    margin-block-start: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .brands img {
    min-width: 120px;
  }
  .sub-hero {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .sub-hero span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 10px;
  }
  .sub-hero h4,
  .sub-hero p {
    text-align: center;
  }
  .end {
    display: flex;
    margin-inline: 20px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 20px;
  }
  .end img {
    width: 90%;
    object-fit: cover;
    object-position: center;
  }
  .end div {
    margin-top: 50px;
  }
  .end div h5,
  .end div h2,
  .end div p {
    text-align: center;
  }
  #submit,
  input {
    width: 100%;
  }
}
@media (max-width: 1050px) {
  .poster-girl-img {
    display: none;
  }
}
@media (max-width: 700px) {
  .sub-hero {
    display: block;
    margin-inline: 5px;
  }
  .sub-hero span img {
    display: grid;
    place-items: center;
  }
  .text,
  .intro {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .intro {
    padding-bottom: 5px;
  }
  .brands {
    margin-top: 25px;
  }
  .end > div {
    margin-inline: 10px;
  }
  input {
    width: 100%;
  }
  #submit {
    width: 90%;
  }
}
